.page__breadcrumb {
  width: 100%;
  padding: 24px 0;
  box-sizing: border-box;

  .t-breadcrumb {
    padding: 4px 0;

    .t-breadcrumb__item {
      line-height: 24px;

      &:last-child {
        .t-breadcrumb__item__text {
          color:#000;
        }
      }
    }
  }

  .goback {
    width: 112px;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #E7E7E7;
    color: rgba(0, 0, 0, 0.9);
    padding-left: 10px;
    cursor: pointer;

    svg.t-icon.t-icon-chevron-left {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    &:hover {
      color: #4088ff;
    }

    p {
      font-size: 14px;
    }
  }
}
/*滚动条样式*/
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.3);
}
::-webkit-scrollbar-track {
  border-radius: 10;
}
