.continer{
    height: 100%;
    width: calc(100% - 300px);
    max-width: 1200px;
    margin: auto;
    height: calc(100% - 40px);
    .pagination_box{
        position: absolute;
        bottom: -216px;
        width: 100%;
        height: 64px;
        background-color: #fafafa;
        padding: 0 24px;
        z-index: 99;
        .t-pagination.t-size-m{
            height: 100%;
        }
    }
    .continer_box{
        position: relative;
        height: calc(100% - 216px);
        background-color: #fff;
        /deep/.t-table{
            .t-table__content {
                height: 100%;
                overflow-y: scroll;
            }
            height: 100%;
            td{
                vertical-align: middle;
            }
        }
        .header,.search{
            padding: 0 24px;
            width: 100%;
            height: 88px;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header_left{
                 span{
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
        .search{
            height: 64px;
        }
    }
    svg.t-icon.t-icon-search{
        width: 16px;
        height: 16px;
    }
    .t-radio-group .t-radio-button{
        font-size: 14px;
        border: 0;
        padding: 8px 12px ;
        &:last-child{
            border-right: 0;
        }
    }
   .t-radio-group .t-radio-button{
        color: rgba(0,0,0,.4);
    }
   label.t-radio-button.t-is-checked{
        color: #0052D9;
    }
    .status{
        display: inline-block;
        text-align: center;
        padding: 2px 8px;
        line-height: 20px;
        font-size: 12px;
        border-radius: 3px;
        color: #fff;
    }
    .showStatus2{
        background: #DCDCDC;
        color: #8B8B8B;
      }
      .showStatus1{
        background: #BCEBDC;
        color: #00A870;
      }
}
.continer_detail{
    .continer_box{
        height: calc(100% - 112px);
        .header_left{
            span{
               font-size: 18px!important;
               font-weight: 500!important;
           }
       }
        .body{
            padding:  24px;
            .item{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .title{
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 20px;
                    opacity: .9;
                }
                .label{
                    margin-right: 20px;
                    opacity: .9;
                }
                .cover{
                    width: 300px;
                }
                .description{
                    width: 900px;
                }
            }
        }
    }
}
.t-form__item{
    width: 532px;
}
/deep/.t-form__controls{
    margin-left: 0!important;
    display: block;
    width: 532px;
}
/deep/.t-form__label{
    width: auto!important;
}