.newsDetail{
    font-family: HYQiHeiY2;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding:24px 17% 44px;
    overflow-y: scroll;
    .title{
        color: #fff;
        font-size: 40px;
        line-height: 50px;
    }
    .info{
        margin: 32px 0;
        color: hsla(0,0%,100%,.6);
        font-size: 16px;
    }
    .content{
      /deep/p {
        color: #999;
        font-size: 16px;
        img{
          max-width: 100%;
        }
        strong{
          font-weight: 700;
        }
      }
    }
    .t-button{
      margin-bottom: 10px;
    }
}